body {
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    color: rgb(0, 255, 0);
    font-size: 1.75rem;
}

.margin {
  margin: 0;
}

.myName {
  margin-top: 0;
}

.section h2 {
    color: greenyellow;
}

.section ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.25rem;
}

.Capitalize {
    text-transform: capitalize;
}

.aboutMe {
    font-size: 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.section h4 {
    font-size: 2.5rem;
    margin: 0 auto;
    margin-top: 45px;
}

.projectsImage {
    max-width: 50px;
    border-radius: 5px;
}

.console {
    background: black;
    color: #00ff00; /* Neon Green */
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    width: 100%;
  }
  
  .console-content {
    min-height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .console-line {
    margin: 0;
    font-size: 1.75rem;
  }
  
  .console-prompt {
    color: #00ff00;
  }
  
  .console-path {
    color: #fff;
  }
  
  .console-cursor {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  .console-input {
    background: transparent;
    border: none;
    color: #00ff00;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    outline: none;
    font-size: 1.75rem;
  }

.typing-wrapper {
    height: 200px;
    overflow: auto;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing {
    width: 13ch;  /* Adjust based on your text length */
    animation: typing 1.5s steps(13), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
}         

/* FOOTER */

.logos {
    max-width: 75px;
}

.footer-title {
    font-size: 2rem;
}